<style type="text/css">
h1{font-size: 20px
color: salmon ;}
.big {font-size: 150px }
.yucky {text-transform: uppercase;}

h2{font-size: 22; color: teal}
h1{font Size : 33 ; color: hotpink}
body{
	background-color: green
}
span{color :Violet;}
</style>
